---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

hr {
    margin:1em 0 1em 0;
    background-color:$grey-color-light;
    border:none;
    height:1px;
}