---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

hr {
    background-color:$grey-color-light;
    border:none;
    height:1px;
}

.wrapper {
    background-color: #fff;
}

body {
    background-color: #e0e0e3;
}